---
import Layout from "@/layouts/Layout.astro";
---

<Layout>
  <div
    style="height:100vh;text-align:center;display:flex;flex-direction:column;align-items:center;justify-content:center" class="text-black">
    <div style="line-height:48px">
      <h1
        class="next-error-h1"
        style="display:inline-block;margin:0 20px 0 0;padding-right:23px;font-size:24px;font-weight:500;vertical-align:top">
        404
      </h1><div style="display:inline-block">
        <h2 style="font-size:14px;font-weight:400;line-height:28px">
          This page could not be found
        </h2>
      </div>
    </div>
  </div>
</Layout>
