---
import type { GetStaticPaths } from "astro";
import PDFViewer from "@/components/PDFViewer.astro";
export const getStaticPaths = (() => {
  const paths = [
    {
      params: {
        id: 'example',
        slug: "example",
      },
    },
  ];
  return paths;
}) satisfies GetStaticPaths;
---

<div>
  <PDFViewer src="https://pdfobject.com/pdf/sample.pdf"/>
</div>
