---
import Carousel from "@/components/Carousel.astro";
import Navigation from "../components/Navigation.astro";
import Shapes from "../components/Shapes.astro";
import Layout from "../layouts/Layout.astro";
import Projects from "../data/projecta-yearly.json";

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link
  href="https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap"
  rel="stylesheet"
/>
<Layout>
  <Navigation />
  <div class="about-page-scroll-start"></div>
  <div
    class="lg:h-[80vh] about-page-main-cover-image w-full lg:bg-fixed"
    style="mix-blend-mode: difference; filter: grayscale(100%); background-repeat: no-repeat; background-size: cover; background-image: url('/images/about-page/thisisengineering-5FE2hIfHQzg-unsplash.jpg');">
    <img
      src="/images/about-page/thisisengineering-5FE2hIfHQzg-unsplash.jpg"
      class="w-full opacity-0 h-auto -absolute"
    />
  </div>
  <div class="w-full flex-auto bg-green-500 pb-[4rem]">
    <div class="rounded-t-lg mt-[-1rem] bg-green-500 w-full relative overflo-w-hidden">
      <div class="relative px-8 py-[4rem] flex justify-between overflow-hidden items-center">
        <p class="text-4xl z-1 lg:text-4xl mb-[4rem] -roboto-mono-main max-w-6xl">
          Driven by a commitment to innovation and inclusivity, our web development approach centers
          on creating digital experiences that are as accessible as they are engaging. Every project
          is guided by the belief that good design should empower, connect, and include all users,
          regardless of their background or abilities. By blending creativity with cutting-edge
          technology, we aim to build websites that not only meet today’s standards but also adapt
          and thrive in tomorrow’s digital landscape. Our team is passionate about crafting
          solutions that reflect these values—ensuring that every detail serves a purpose, enhances
          usability, and leaves a meaningful impact.
        </p>
        <div class="spikey-boy-clickable hidden lg:block"><img src="/shapes/Party.svg" /></div>
      </div>
      <div class="spikey-boy z-[-1] absolute top-[-6rem]"><img src="/shapes/Party.svg" /></div>
      <!-- <div class="md:hidden z-[0] absolute bottom-[-5%] right-[-50%]"><img class=" w-[180vw]" src="/shapes/Butterfly.svg" /></div> -->
    </div>

    <p class="absolute px-8 text-9xl">{"Projects".toUpperCase()}</p>
    <div class="mt-[7rem]">
      <Carousel carouselId={"about-page"} images={Projects.map((item) => item.imageSrc)} />
    </div>
	
  </div>
  
  <div class="about-page-scroll-end"></div>
</Layout>
<script>
  // Rotate element on click
  document.querySelector(".spikey-boy-clickable")?.addEventListener("click", () => {
    gsap.to(".spikey-boy-clickable", { rotate: "+=360", duration: 1 });
  });
</script>
