---
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
import projects from "../data/projecta-yearly.json";
// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
  <Navigation />
  <div class="bg-neutral-300 pt-[10rem] min-h-screen w-full relative overflow-hidde-n flex flex-col">
    <div class="flex-auto w-full overflow-visible-overflow-x-auto">
      <table class="table-auto w-full">
        <tbody>
          {
            projects.map((item, index) => (
              <tr class="border-b-neutral-700 border-b">
                <td class="select-none text-right py-10 pl-8">{index+1}</td>
                <td class="group relative py-10 px-8">
                  {item.imageSrc && <img
                    src={item.imageSrc}
                    class="w-[30rem] pointer-events-none absolute max-w-[80vw] h-auto left-1/2 -translate-x-1/2 bottom-[2rem] group-hover:block hidden transition-all duration-75"
                  />}
                  <p class="select-none text-3xl">{item.title}</p>
                  <p class="select-none mt-2">{item.description}</p>
                </td>
                <td class="select-none text-right py-10 px-8">{item.year}</td>
              </tr>
            ))
          }
        </tbody>
      </table>
    </div>
  </div>
</Layout>
