---
import { TooltipProvider } from "@/components/ui/tooltip";
import Transition from "../components/Transition.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
    <div
      class="w-screen h-screen fixed bg-black z-[1001] pointer-events-none top-0 left-0 opacity-100 load-curtain">
      <div
        class="w-[2rem] h-[2rem]"
        style="position: absolute;top: 50%; left: 50%;transform: translate(-50%, -50%);">
        <svg
          width="50"
          height="45"
          viewBox="0 0 50 45"
          fill="none"
          xmlns="http://www.w3.org/2000/svg">
          <mask
            id="mask0_606_322"
            style="mask-type:luminance"
            maskUnits="userSpaceOnUse"
            x="24"
            y="20"
            width="24"
            height="15">
            <path
              d="M47.0453 34.7847H30.3115V28.9484C30.3115 25.8136 28.4632 23.1034 24.8177 20.8931C25.9489 20.8119 26.8083 20.7754 27.5232 20.7754C30.5551 20.7754 35.5024 21.4081 39.7207 22.8214C43.062 23.9409 47.0449 25.9127 47.0449 28.9483V34.7847H47.0453Z"
              fill="white"></path>
          </mask>
          <g mask="url(#mask0_606_322)">
            <path
              d="M37.2845 14.895C38.7593 14.895 40.201 14.4582 41.4273 13.6398C42.6536 12.8214 43.6094 11.6582 44.1738 10.2972C44.7382 8.9363 44.8858 7.43876 44.5981 5.99399C44.3104 4.54922 43.6002 3.22211 42.5573 2.18049C41.5144 1.13887 40.1857 0.42952 38.7392 0.142138C37.2927 -0.145245 35.7934 0.0022505 34.4308 0.565972C33.0682 1.12969 31.9036 2.08432 31.0843 3.30914C30.2649 4.53395 29.8275 5.97395 29.8275 7.44702C29.8234 8.42626 30.0135 9.39662 30.3868 10.3021C30.76 11.2076 31.3091 12.0303 32.0024 12.7227C32.6957 13.4152 33.5194 13.9636 34.4259 14.3365C35.3325 14.7093 36.304 14.8991 37.2845 14.895ZM17.3998 14.895C18.8747 14.8949 20.3163 14.458 21.5426 13.6395C22.7688 12.821 23.7245 11.6577 24.2888 10.2968C24.8531 8.93579 25.0006 7.43824 24.7128 5.9935C24.425 4.54876 23.7147 3.22171 22.6718 2.18016C21.6288 1.13861 20.3001 0.429343 18.8536 0.14205C17.4071 -0.145244 15.9078 0.00233948 14.5452 0.566136C13.1827 1.12993 12.0181 2.08462 11.1988 3.30947C10.3795 4.53433 9.94226 5.97434 9.94234 7.4474C9.93826 8.42663 10.1284 9.39696 10.5017 10.3024C10.875 11.2079 11.4241 12.0305 12.1174 12.7229C12.8107 13.4153 13.6344 13.9638 14.541 14.3366C15.4475 14.7094 16.4191 14.8992 17.3995 14.895H17.3998ZM17.3998 19.8602C11.6079 19.8602 3.05176e-05 22.7653 3.05176e-05 28.5499V34.7565H34.7989V28.5499C34.7989 22.7653 23.191 19.8602 17.3995 19.8602H17.3998ZM37.2845 19.8602C36.5636 19.8602 35.7434 19.9099 34.8734 19.9841C37.7568 22.0695 39.7701 24.875 39.7701 28.5492V34.7558H54.6836V28.5499C54.6839 22.7653 43.076 19.8602 37.2845 19.8602Z"
              fill="#EFBC6F"></path>
          </g>
          <path
            d="M36.2347 18.8219C39.3965 18.8219 41.9596 16.2618 41.9596 13.1038C41.9596 9.94582 39.3965 7.38574 36.2347 7.38574C33.0729 7.38574 30.5097 9.94582 30.5097 13.1038C30.5097 16.2618 33.0729 18.8219 36.2347 18.8219Z"
            fill="#F4F4F4"></path>
          <path
            d="M23.7754 34.7566H0V28.5498C0 27.1935 0.640716 25.9157 1.90421 24.7518C2.53914 24.1802 3.23457 23.6795 3.97816 23.2585C4.79768 22.7906 5.64977 22.3821 6.52786 22.0361C8.37552 21.3144 10.2872 20.7683 12.2374 20.4049C14.079 20.054 15.9117 19.8606 17.3994 19.8606C19.0375 19.8606 21.0521 20.0898 23.0721 20.506C25.3309 20.9714 27.4573 21.6401 29.2216 22.4406V29.317L23.7754 34.7566ZM29.2215 34.7566H28.903L29.2215 34.4385V34.7565V34.7566ZM17.3995 14.8958C16.4158 14.9028 15.4404 14.7154 14.5295 14.3442C13.6187 13.9731 12.7903 13.4256 12.0922 12.7333C11.3941 12.041 10.8401 11.2176 10.462 10.3105C10.0839 9.40342 9.88925 8.43056 9.88925 7.44799C9.88925 6.46543 10.0839 5.49257 10.462 4.58547C10.8401 3.67837 11.3941 2.85495 12.0922 2.16266C12.7903 1.47037 13.6187 0.922887 14.5295 0.551751C15.4404 0.180614 16.4158 -0.00683881 17.3995 0.000190619C18.6277 0.00703935 19.8352 0.316102 20.9154 0.900038C21.9955 1.48398 22.9149 2.32479 23.5922 3.3481C24.2695 4.37141 24.6839 5.54567 24.7987 6.76702C24.9135 7.98837 24.7252 9.21915 24.2504 10.3505C23.6861 11.6996 22.7341 12.8515 21.5148 13.6606C20.2955 14.4697 18.8634 14.8997 17.3995 14.8964V14.8958Z"
            fill="#F4F4F4"></path>
          <mask
            id="mask1_606_322"
            style="mask-type:luminance"
            maskUnits="userSpaceOnUse"
            x="24"
            y="20"
            width="24"
            height="15">
            <path
              d="M47.0453 34.7847H30.3115V28.9484C30.3115 25.8136 28.4631 23.1034 24.8177 20.8931C25.9488 20.8119 26.8083 20.7754 27.5236 20.7754C30.5554 20.7754 35.5027 21.4081 39.7211 22.8214C43.0623 23.9409 47.0453 25.9127 47.0453 28.9483V34.7847Z"
              fill="white"></path>
          </mask>
          <g mask="url(#mask1_606_322)">
            <path
              d="M37.2845 14.895C38.7593 14.895 40.201 14.4582 41.4273 13.6398C42.6536 12.8214 43.6094 11.6582 44.1738 10.2972C44.7382 8.9363 44.8858 7.43876 44.5981 5.99399C44.3104 4.54922 43.6002 3.22211 42.5573 2.18049C41.5144 1.13887 40.1857 0.42952 38.7392 0.142138C37.2927 -0.145245 35.7934 0.0022505 34.4308 0.565972C33.0682 1.12969 31.9036 2.08432 31.0843 3.30914C30.2649 4.53395 29.8275 5.97395 29.8275 7.44702C29.8234 8.42626 30.0135 9.39662 30.3868 10.3021C30.76 11.2076 31.3091 12.0303 32.0024 12.7227C32.6957 13.4152 33.5194 13.9636 34.4259 14.3365C35.3325 14.7093 36.304 14.8991 37.2845 14.895ZM17.3998 14.895C18.8747 14.8949 20.3163 14.458 21.5426 13.6395C22.7688 12.821 23.7245 11.6577 24.2888 10.2968C24.8531 8.93579 25.0006 7.43824 24.7128 5.9935C24.425 4.54876 23.7147 3.22171 22.6718 2.18016C21.6288 1.13861 20.3001 0.429343 18.8536 0.14205C17.4071 -0.145244 15.9078 0.00233948 14.5452 0.566136C13.1827 1.12993 12.0181 2.08462 11.1988 3.30947C10.3795 4.53433 9.94226 5.97434 9.94234 7.4474C9.93826 8.42663 10.1284 9.39696 10.5017 10.3024C10.875 11.2079 11.4241 12.0305 12.1174 12.7229C12.8107 13.4153 13.6344 13.9638 14.541 14.3366C15.4475 14.7094 16.4191 14.8992 17.3995 14.895H17.3998ZM17.3998 19.8602C11.6079 19.8602 3.05176e-05 22.7653 3.05176e-05 28.5499V34.7565H34.7989V28.5499C34.7989 22.7653 23.191 19.8602 17.3995 19.8602H17.3998ZM37.2845 19.8602C36.5636 19.8602 35.7434 19.9099 34.8734 19.9841C37.7568 22.0695 39.7701 24.875 39.7701 28.5492V34.7558H54.6836V28.5499C54.6839 22.7653 43.076 19.8602 37.2845 19.8602Z"
              fill="#EFBC6F"
              stroke="#EFBC6F"
              stroke-width="0.025"
              stroke-linecap="round"></path>
          </g>
          <path
            d="M34.1289 43.0184L28.3347 37.2312L34.129 31.444L32.3655 29.6826L24.8078 37.2312L32.3655 44.7799L34.1289 43.0184ZM40.6789 43.0184L46.4731 37.2312L40.6789 31.444L42.4423 29.6826L50 37.2312L42.4423 44.7799L40.6789 43.0185V43.0184Z"
            fill="#D9D9D9"></path>
        </svg>
      </div>
    </div>

    <main class="page">
      <slot />
    </main>
    <Transition />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }
  main {
    opacity: 100;
  }
</style>
